@import "groundRules";
@import "variables";

.maximized-container {
	background-color: rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 3000;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.maximizedGifs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__gif {
		margin: 0 auto;
		.maxGif {
			display: block;
			margin: 0 auto;
			max-width: 80%;
			@media screen and (min-width: 992px) {
				max-width: 100%;
			}
		}
	}
	&__close {
		display: flex;
		justify-content: flex-end;
		width: 80%;
		margin: 0 auto;
		padding: 0.625rem;
		@media screen and (min-width: 990px) {
			width: 100%;
		}
		.maxGif-btnClose {
			cursor: pointer;
		}
	}
	&__icons {
		padding-top: 0.625rem;
		width: 80%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		@media screen and (min-width: 992px) {
			width: 100%;
		}
		.maxGif-icons {
			padding: 10px;
			width: 20%;
			display: flex;
			img {
				padding: 5px;
				cursor: pointer;
			}
		}
		.maxGif-data {
			width: 80%;
		}
	}
}
#maxGif-title,
#maxGif-user {
	font-family: $text_font;
	font-size: 1rem;
}
