/* Navbar styles */
.navbar__icons {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.navlinks {
  display: flex;
  flex-flow: column nowrap;
  height: 90vh;
  width: 100%;
  z-index: 3;
  align-items: center;
  background-color: #572ee5;
  opacity: 0.9;
  position: absolute;
  animation-name: showmenu;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  &__list {
    list-style: none;
    margin-top: 2.9%;
    &__link {
      line-height: 3.75rem;
      position: relative;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      color: #ffffff;
      // This creates a short border for each link on the menu
      .borders-actives {
        display: block;
        border-top: 2px solid lightgrey;
        opacity: 0.4;
        width: 30%;
        margin: 0 auto;
      }
    }
  }
}
// Hides the menu on mobile version
.menu-hide {
  display: none;
}
@keyframes showmenu {
  from {
    height: 0;
  }
  to {
    height: 90vh;
  }
}
