@import "variables";

.trending-searchs__title {
	font-family: $title_font;
	font-size: 1rem;
	color: $main_color;
	line-height: 1.5625rem;
	text-align: center;
	margin: 2.6%;
}
.trending-searchs__text {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
	color: $main_color;
	text-align: center;
	margin: 0.2% 20% 3.7%;
}
