/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #572ee5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark {
  background-color: #37383c;
  color: #fff;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

@media screen and (min-width: 769px) {
  .navbar {
    border-top: solid 3px #572ee5;
  }
}

body.dark .navbar {
  background-color: #37383c;
  border-top: solid 3px #222326;
}

.navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.navbar__icons #logo-mobile {
  cursor: pointer;
}

.navbar__icons .navbarSearch-bar {
  padding: 0.125rem;
  width: 40%;
  border: 1px solid #572ee5;
  border-radius: 24px;
}

body.dark .navbar__icons .navbarSearch-bar {
  border: 1px solid #fff;
}

.navbar__icons .navbarSearch-bar__input {
  padding: 1.2% 2% 1.2% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
}

.navbar__icons .navbarSearch-bar__input #navbarSearch-input {
  padding: 0 2%;
  width: 100%;
  border: none;
  outline: none;
}

body.dark .navbar__icons .navbarSearch-bar__input #navbarSearch-input {
  color: #fff;
  background-color: transparent;
}

.navbar__icons .navbarSearch-bar__input #navbarSearch-icon,
.navbar__icons .navbarSearch-bar__input #close-navbarSearch-icon {
  cursor: pointer;
}

.navbar__icons .navbarSearch-bar__input #navbarSearch-icon-active {
  height: 16px;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 90vh;
  width: 100%;
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #572ee5;
  opacity: 0.9;
  position: absolute;
  -webkit-animation-name: showMenu;
          animation-name: showMenu;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .navlinks {
  background-color: #222326;
  opacity: 1;
}

.navlinks__list {
  list-style: none;
  margin-top: 2.9%;
}

.navlinks__list__link {
  line-height: 3.75rem;
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

body.dark .navlinks__list__link {
  color: white;
}

.navlinks__list__link .borders-actives {
  display: block;
  border-top: 2px solid lightgrey;
  opacity: 0.4;
  width: 30%;
  margin: 0 auto;
}

.menu-hide {
  display: none;
}

@-webkit-keyframes showMenu {
  from {
    height: 0;
  }
  to {
    height: 90vh;
  }
}

@keyframes showMenu {
  from {
    height: 0;
  }
  to {
    height: 90vh;
  }
}

.searchHidden {
  display: none;
}

.navbar-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-desktop .navlinks-desktop {
  padding: 0.125rem 0.4375rem;
  margin-right: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #572ee5;
  cursor: pointer;
}

.navbar-desktop .navlinks-desktop:hover {
  border-bottom: 2px solid #50e3c2;
}

.navbar-desktop .navlinks-desktop:active {
  color: grey;
  border: none;
}

body.dark .navbar-desktop .navlinks-desktop {
  color: #fff;
}

.navbar-desktop #createGif-btn {
  padding: 0.9375rem;
  margin-left: 0.5rem;
  margin-right: 0.3125rem;
  border: 1px solid #572ee5;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.navbar-desktop #createGif-btn:hover {
  background-color: #572ee5;
}

.navbar-desktop #createGif-btn:active {
  background-color: #9cafc3;
  border: none;
}

body.dark .navbar-desktop #createGif-btn {
  border: 1px solid #fff;
}

body.dark .navbar-desktop #createGif-btn:hover {
  background-color: #fff;
}

body.dark .navbar-desktop #createGif-btn:active {
  background-color: #9cafc3;
  border: none;
}

.desktopnav-hidden {
  display: none;
}

@media screen and (min-width: 762px) {
  .desktopnav-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#burger {
  display: block;
}

@media screen and (min-width: 762px) {
  #burger {
    display: none;
  }
}

.hero {
  margin: 15px 11.7% 0 11.7%;
  padding-top: 90px;
}

.hero__text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 2.0625rem;
  color: #572ee5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .hero__text {
  color: #fff;
}

.hero__text__gifos {
  color: #50e3c2;
}

.hero #hero-img {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 273px;
  max-height: 130px;
  margin: 0 auto;
}

.search-bar, .searchActive {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #572ee5;
  border-radius: 27px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .search-bar, body.dark .searchActive {
  border: 1px solid #fff;
}

.search-bar__input {
  padding: 1.2% 2% 1.2% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
}

.search-bar__input #search-input {
  padding: 0 2%;
  width: 100%;
  border: none;
  outline: none;
}

body.dark .search-bar__input #search-input {
  background-color: transparent;
  color: #fff;
}

.search-bar__input #search-icon,
.search-bar__input #close-search-icon {
  cursor: pointer;
}

.search-bar__input #search-icon-active {
  height: 16px;
}

.search-bar__suggestion {
  margin: 0 auto;
  padding: 0 5%;
  /* body.dark & {
			border: 1px solid #fff;
		} */
}

.search-bar__suggestion__border {
  width: 100%;
  border-top: 1px solid gray;
  margin-bottom: 2px;
}

.search-bar__suggestion__list {
  list-style-type: none;
  margin: 4px 0;
  padding: 0;
}

.search-bar__suggestion__list li {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  color: gray;
}

body.dark .search-bar__suggestion__list li {
  color: #9cafc3;
}

.search-bar__suggestion__list li .searchList-icon {
  margin: 0 2px;
  height: 12px;
}

.searchActive {
  border-radius: 20px;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
.trending-searchs__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #572ee5;
  line-height: 1.5625rem;
  text-align: center;
  margin: 2.6%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .trending-searchs__title {
  color: #ffffff;
}

.trending-searchs__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #572ee5;
  text-align: center;
  margin: 0.2% 20% 3.7%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .trending-searchs__text {
  color: #ffffff;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
.trending-gifs {
  background-color: #f3f5f8;
  margin-top: 3.7%;
  padding: 3.8% 0 6.8%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .trending-gifs {
  background-color: #222326;
}

.trending-gifs__title {
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  text-align: center;
  padding: 3.8% 0 0.6%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .trending-gifs__title {
  color: #fff;
}

.trending-gifs__text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: center;
  line-height: 1.4375rem;
  margin: 0.6% 5.6% 2.7%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .trending-gifs__text {
  color: #fff;
}

.trending-gifs__text__blockText {
  display: block;
}

.trending-gifs__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.trending-gifs__carousel #track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: scroll;
  scroll-behavior: smooth;
}

@media screen and (min-width: 769px) {
  .trending-gifs__carousel #track {
    overflow: hidden;
  }
}

.trending-gifs__carousel .btn-carousel {
  margin: 0 10px;
  padding: 2px;
  background-color: white;
  border: 1px solid #572ee5;
  height: 40px;
  width: 40px;
  display: none;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .trending-gifs__carousel .btn-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.trending-gifs__carousel .btn-carousel:hover {
  background-color: #572ee5;
}

body.dark .trending-gifs__carousel .btn-carousel {
  background-color: transparent;
  border: 1px solid #fff;
}

body.dark .trending-gifs__carousel .btn-carousel:hover {
  background-color: #fff;
}

.trending-gifs__carousel .btn-carousel .btnImg-carousel {
  margin: 0 auto;
  padding: 30%;
}

.gifCard {
  position: relative;
  margin: 0 5px;
  height: 100%;
}

.gifCard__gif {
  width: 12.5rem;
  height: 9.375rem;
}

@media screen and (min-width: 992px) {
  .gifCard__gif {
    width: 21.875rem;
    height: 18.75rem;
  }
}

.gifCard .gifHover {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0px;
  z-index: 9;
  background-color: #572ee5;
  opacity: 0.7;
}

.gifCard .gifHover__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gifCard .gifHover__icons .gif-icons {
  margin: 2px;
  padding: 5px;
  height: auto;
  background-color: white;
  opacity: 0.7;
  border-radius: 6px;
  cursor: pointer;
}

.gifCard .gifHover__icons .gif-icons:hover {
  opacity: 1;
}

.gifCard .gifHover__textBox {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10%;
}

.gifCard .gifHover__textBox__text {
  padding-left: 10%;
  margin: 2px 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
.social {
  margin-top: 6.8%;
  padding: 3.9% 20.3% 1.9%;
  border-bottom: solid 5px #572ee5;
}

.social__title {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  text-align: center;
  margin-bottom: 2%;
}

body.darkMode .social__title {
  color: #fff;
}

.social__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.8%;
}

.social__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.social .social-icon {
  margin: 5.1%;
  color: lightgrey;
}

body.darkMode .social .social-icon {
  color: #fff;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
.searchs {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchs__top-border {
  border: 1px solid #9cafc3;
  background-color: #9cafc3;
  opacity: 0.5;
  width: 40%;
  margin: 1.8% auto;
}

.searchs__title {
  padding: 1.8% 0 1.6%;
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-size: 1.5625rem;
}

body.dark .searchs__title {
  color: #fff;
}

.searchs__gallery {
  padding: 1.6%;
  margin: 0 5.6% 3.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark .searchs__btn {
  border: 2px solid #fff;
  color: #fff;
}

body.dark .searchs__btn:hover {
  background-color: #222326;
  color: white;
  cursor: pointer;
}

.searchs .gifsContainer {
  position: relative;
  margin: 0.3125rem 0;
  height: 100%;
}

.searchs .gifsContainer .gif {
  width: 12.5rem;
  height: 9.375rem;
}

@media screen and (min-width: 992px) {
  .searchs .gifsContainer .gif {
    width: 21.875rem;
    height: 18.75rem;
  }
}

.searchs .gifHover {
  display: none;
}

@media screen and (min-width: 992px) {
  .searchs .gifHover {
    display: block;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0px;
    z-index: 9;
    background-color: #572ee5;
    opacity: 0;
  }
  .searchs .gifHover:hover {
    opacity: 0.7;
  }
}

.searchs .gifHover__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchs .gif-icons {
  margin: 2px;
  padding: 5px;
  height: auto;
  background-color: white;
  opacity: 0.7;
  border-radius: 6px;
  cursor: pointer;
}

.searchs .gif-icons:hover {
  opacity: 1;
}

.searchs .gifHover__textBox {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10%;
}

.searchs .gifHover__textBox__text {
  padding-left: 10%;
  margin: 2px 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}

.searchs .searchs__error {
  text-align: center;
}

.searchs .searchs__error__text {
  margin-top: 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  color: #50e3c2;
}

.searchs .searchs__error__icon {
  margin: 0 auto;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
.favourites {
  margin-top: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favourites__title {
  padding: 0.4%;
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-size: 1.25rem;
}

body.dark .favourites__title {
  color: #fff;
}

.favourites__empty {
  margin-top: 1.25rem;
  padding: 0.625rem;
  text-align: center;
}

.favourites__empty__text {
  margin-top: 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  color: #50e3c2;
}

.favourites__empty__text span {
  display: block;
}

.favourites__empty__text__icon {
  margin: 0 auto;
}

.favourites__btn {
  cursor: pointer;
}

.favourites__btn:hover {
  background-color: #572ee5;
  color: white;
}

body.dark .favourites__btn {
  border: 2px solid #fff;
  color: #fff;
}

body.dark .favourites__btn:hover {
  background-color: #222326;
  color: white;
}

.favourites__gifs {
  padding: 1.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favGifContainer {
  position: relative;
  margin: 0.3125rem;
  height: 100%;
}

.favGifContainer .gif {
  width: 12.5rem;
  height: 9.375rem;
}

@media screen and (min-width: 992px) {
  .favGifContainer .gif {
    width: 21.875rem;
    height: 18.75rem;
  }
}

.favHover {
  display: none;
}

@media screen and (min-width: 992px) {
  .favHover {
    display: block;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0px;
    z-index: 9;
    background-color: #572ee5;
    opacity: 0;
  }
  .favHover:hover {
    opacity: 0.7;
  }
}

.favHover__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gif-icons {
  margin: 2px;
  padding: 5px;
  height: auto;
  background-color: white;
  opacity: 0.7;
  border-radius: 6px;
  cursor: pointer;
}

.gif-icons:hover {
  opacity: 1;
}

.favHover__textBox {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10%;
}

.favHover__textBox__text {
  padding-left: 10%;
  margin: 2px 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
.miGifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.25rem;
}

.miGifos__title {
  margin-top: 0.4%;
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

body.dark .miGifos__title {
  color: #fff;
}

.miGifos__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 2.5rem;
}

.miGifos__empty h3 {
  margin: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  color: #50e3c2;
}

.miGifos__empty__img {
  padding: 20%;
}

.miGifos__gifs__gallery {
  padding: 1.6%;
  margin: 0 5.6% 3.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifoHover {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0px;
  z-index: 9;
  background-color: #572ee5;
  opacity: 0.7;
}

.gifoHover__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gifoHover__icons .gif-icons {
  margin: 2px;
  padding: 5px;
  height: auto;
  background-color: white;
  opacity: 0.7;
  border-radius: 6px;
  cursor: pointer;
}

.gifoHover__icons .gif-icons:hover {
  opacity: 1;
}

.gifoHover__textBox {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10%;
}

.gifoHover__textBox__text {
  padding-left: 10%;
  margin: 2px 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}

.gif__container {
  position: relative;
  margin: 0.3125rem 0;
  height: 100%;
}

.gif__container .gif {
  width: 12.5rem;
  height: 9.375rem;
}

@media screen and (min-width: 992px) {
  .gif__container .gif {
    width: 21.875rem;
    height: 18.75rem;
  }
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #572ee5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark {
  background-color: #37383c;
  color: #fff;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
.maximized-container {
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 3000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

body.dark .maximized-container {
  background-color: rgba(55, 56, 60, 0.9);
}

.maximizedGifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maximizedGifs__gif {
  margin: 0 auto;
}

.maximizedGifs__gif .maxGif {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

@media screen and (min-width: 992px) {
  .maximizedGifs__gif .maxGif {
    max-width: 100%;
  }
}

.maximizedGifs__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
  padding: 0.625rem;
}

@media screen and (min-width: 990px) {
  .maximizedGifs__close {
    width: 100%;
  }
}

.maximizedGifs__close .maxGif-btnClose {
  cursor: pointer;
}

.maximizedGifs__icons {
  padding-top: 0.625rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .maximizedGifs__icons {
    width: 100%;
  }
}

.maximizedGifs__icons .maxGif-icons {
  padding: 10px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maximizedGifs__icons .maxGif-icons img {
  padding: 5px;
  cursor: pointer;
}

.maximizedGifs__icons .maxGif-data {
  width: 80%;
}

#maxGif-title,
#maxGif-user {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/* variables */
/* btn style */
.searchs__btn, .favourites__btn, .miGifos__btn {
  margin: 3.4%;
  padding: 0.8% 3.7%;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #572ee5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #572ee5;
  border-radius: 25px;
  outline: none;
}

/* Dark Mode Styles */
.crearGif {
  padding-top: 12%;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .crearGif {
    padding-top: 10%;
  }
}

@media screen and (min-width: 1530px) {
  .crearGif {
    padding-top: 9%;
  }
}

.crearGif__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crearGif__camara {
  max-width: 25%;
  position: relative;
}

.crearGif__camara .path {
  position: relative;
  top: -1rem;
}

.crearGif__celluloidFilm {
  max-width: 25%;
  height: 20rem;
  padding-top: 18rem;
  padding-left: 1.5rem;
}

.crearGif__recordingZone {
  padding: 2rem;
  width: 50%;
  height: 20rem;
  border: 1px solid #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body.dark .crearGif__recordingZone {
  border: 1px solid #fff;
}

.crearGif__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  color: #572ee5;
}

body.dark .crearGif__title {
  color: #fff;
}

.crearGif__title .aqua-text {
  color: #50e3c2;
}

.crearGif__text {
  padding-top: 10px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body.dark .crearGif__text {
  color: #fff;
}

.crearGif .recording_video {
  min-width: 80%;
  min-height: 20rem;
  max-width: 80%;
  max-height: 20rem;
  z-index: 3000;
}

.crearGif .recorded_video {
  width: 100%;
  z-index: 3000;
}

.crearGif .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(87, 46, 229, 0.6);
  color: #fff;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crearGif .overlay__status-icon {
  margin: 0.8rem;
}

.crearGif .overlaystatus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.crearGif .pagination {
  margin: 0 auto;
  width: 75%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.crearGif .pagination .step {
  width: 2rem;
  height: 2rem;
  padding-top: 0.2em;
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  border: 1px solid #572ee5;
  border-radius: 50%;
  font-size: 1.2em;
}

body.dark .crearGif .pagination .step {
  border: 1px solid #fff;
}

.crearGif .pagination .step-active {
  background-color: #572ee5;
  color: #fff;
}

body.dark .crearGif .pagination .step-active {
  background-color: #fff;
  color: #000;
}

.crearGif #repeatShot {
  color: #572ee5;
  text-decoration: none;
}

body.dark .crearGif #repeatShot {
  color: #fff;
}

.crearGif #repeatShot:hover {
  border-bottom: 2px solid #50e3c2;
}

.crearGif #repeatShot:active {
  color: #9cafc3;
  border-bottom: hidden;
}

.crearGif .timer {
  width: 25%;
  text-align: right;
  position: absolute;
  top: 79%;
  right: 24%;
}

.crearGif .timer .timer__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.crearGif .overlay__buttons {
  width: 6.8rem;
  padding: 2%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  right: 0;
}

.crearGif .overlay__buttons .btns {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.crearGif .overlay__buttons .downloadOverlay {
  background-color: white;
  opacity: 0.7;
  padding: 0.3125rem;
  border-radius: 0.375rem;
}

.crearGif .overlay__buttons .downloadOverlay:hover {
  opacity: 1;
}

.crearGif .overlay__buttons .linkOverlay {
  background-color: white;
  opacity: 0.7;
  padding: 0.3125rem;
  border-radius: 0.375rem;
}

.crearGif .overlay__buttons .linkOverlay:hover {
  opacity: 1;
}

.crearGif .corner {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
}

.crearGif .top--left {
  border-top: 1px solid #50e3c2;
  border-left: 1px solid #50e3c2;
  top: 1.25rem;
  left: 1.25rem;
}

.crearGif .top--right {
  border-top: 1px solid #50e3c2;
  border-right: 1px solid #50e3c2;
  top: 1.25rem;
  right: 1.25rem;
}

.crearGif .bottom--right {
  border-bottom: 1px solid #50e3c2;
  border-right: 1px solid #50e3c2;
  bottom: 1.25rem;
  right: 1.25rem;
}

.crearGif .bottom--left {
  border-bottom: 1px solid #50e3c2;
  border-left: 1px solid #50e3c2;
  bottom: 1.25rem;
  left: 1.25rem;
}

.crearGif .border {
  width: 58%;
  margin: 0 auto;
  border: 2px solid #572ee5;
}

body.dark .crearGif .border {
  border: 2px solid #fff;
}

.button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  margin-top: 1.25rem;
  padding: 1.25rem;
  border: 1px solid #572ee5;
  border-radius: 2.5rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #572ee5;
  font-size: 0.8125rem;
  cursor: pointer;
}

.button:hover {
  background-color: #572ee5;
  color: white;
}

body.dark .button {
  border: 1px solid #fff;
  color: #fff;
}

body.dark .button:hover {
  background-color: #222326;
}
/*# sourceMappingURL=styles.css.map */