* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar styles */
.navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 90vh;
  width: 100%;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #572ee5;
  opacity: 0.9;
  position: absolute;
  -webkit-animation-name: showmenu;
          animation-name: showmenu;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.navlinks__list {
  list-style: none;
  margin-top: 2.9%;
}

.navlinks__list__link {
  line-height: 3.75rem;
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.navlinks__list__link .borders-actives {
  display: block;
  border-top: 2px solid lightgrey;
  opacity: 0.4;
  width: 30%;
  margin: 0 auto;
}

.menu-hide {
  display: none;
}

@-webkit-keyframes showmenu {
  from {
    height: 0;
  }
  to {
    height: 90vh;
  }
}

@keyframes showmenu {
  from {
    height: 0;
  }
  to {
    height: 90vh;
  }
}

.hero {
  margin: 15px 11.7% 0 11.7%;
}

.hero__text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 2.0625rem;
  color: #572ee5;
}

.hero__text__gifos {
  color: #50e3c2;
}

.hero #hero-img {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 273px;
  max-height: 130px;
  margin: 0 auto;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  position: relative;
}

.search-bar #search-bar {
  border: 1px solid #572ee5;
  border-radius: 27px;
  width: 80%;
  padding: 1.2% 14.7% 1.2% 2%;
  outline: none;
}

.search-bar #search-icon {
  height: 60%;
  position: absolute;
  right: 15%;
  top: 20%;
}

.trending-searchs__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #572ee5;
  line-height: 1.5625rem;
  text-align: center;
  margin: 2.6%;
}

.trending-searchs__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #572ee5;
  text-align: center;
  margin: 0.2% 20% 3.7%;
}

.trending-gifs {
  background-color: #f3f5f8;
  margin-top: 3.7%;
  padding: 3.8% 0 6.8%;
}

.trending-gifs__title {
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  text-align: center;
  padding: 3.8% 0 0.6%;
}

.trending-gifs__text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: center;
  line-height: 1.4375rem;
  margin: 0.6% 5.6% 2.7%;
}

.trending-gifs__text__blockText {
  display: block;
}

.trending-gifs .carrusel {
  width: 64.8%;
  height: 187px;
  background-color: lightgrey;
  margin: 15px;
  text-align: center;
  line-height: 187px;
}

.social {
  margin-top: 6.8%;
  padding: 3.9% 20.3% 1.9%;
  border-bottom: solid 5px #572ee5;
}

.social__title {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  text-align: center;
  margin-bottom: 2%;
}

.social__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.8%;
}

.social__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.social .social-icon {
  margin: 5.1%;
  color: lightgrey;
}
/*# sourceMappingURL=styles.css.map */